# Dependency directories
node_modules/
dist/
out/

# VSCode extension packaging
*.vsix
.vscode-test/

# Build outputs
lib/
build/
*.js
*.js.map

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
.nyc_output/

# Environment files
.env
.env.local
.env.*.local

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor directories and files
.idea/
/code/v.scode/*
!/code/.vscode/settings.json
!/code/.vscode/tasks.json
!/code/.vscode/launch.json
!/code/.vscode/extensions.json